@{
    string ChangeToOutputPathWorkaround(string path){
        if (!path.EndsWith(".md"))
            return path;
        
        return path.Replace("_", string.Empty)
            .Replace(".md", string.Empty);
    }
}

<script>
    const posts = [
        @foreach(var post in Document.GetDocumentList("AllPosts").OrderByDescending(post => post.GetDateTime(WebKeys.Published))){
            <text>
                {Link: '@ChangeToOutputPathWorkaround(post.GetLink())', 
                Title: '@post.GetString("Title")',
                Thumbnail: '@post.GetString("Thumbnail")',
                Published: '@post.GetDateTime("Published").ToString("yyyy/MM/dd")',
                Author: '@post.GetString("Author")',
                Tags: [
                    @foreach(var tag in post.GetList<string>("Tags")){
                        <text>
                            '@Html.Raw(@tag)',
                        </text>
                    }
                ]},
            </text>
        }
    ]
</script>

<section class="post_list">
</section>